h1,
h4 {
    text-align: center;
    color: #fff;
}

.centrarJust {
    display: flex;
    justify-content: center;
}


.margenTopInicial {
    margin-top: 4rem; 
}

.creacion {
    margin: 2rem auto;
    padding: 2rem;
    border: 2px solid #ffffff;
}

h2, p {
    color: #ffffff;
}

.margengrande {
    margin: 5rem 2rem;
    color: #ffffff;
}

.blando {
    margin: 8rem 0;
    color: #ffffff;
}




