.linkEstilo {
    color: black;
    text-decoration-line: none;
}

.espacio{
    margin-right: 2rem;
}

.imagenTamaño{
    width: 8%;
    padding: 0%;
}

.derecha{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 1rem;
    z-index: 100;
}

.horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2cm;
    padding-right: 2cm;
}

.horizontaldos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.redPosicion{
    display: flex;
    align-content: center;
    justify-content: center;
    color: black;
    margin-right: 3rem;
}

.izquierda{
    display: flex;
    align-content: flex-start;
    justify-content:left;
}

/* Estilos para la barra de navegación (navbar) */
.navbar {
    background-color: black;
  }
  
  /* Estilos para el texto dentro de la barra de navegación */
  .navbar a {
    color: white;
  }
  
  /* Estilos para los iconos dentro de la barra de navegación */
  .navbar svg {
    fill: white; /* Cambia el color de relleno de los iconos (para iconos SVG) */
  }
  
  /* Estilos para el pie de página (footer) */
  footer {
    background-color: rgb(35, 35, 35);
    color: white;
  }
  
  /* Estilos para los iconos dentro del pie de página */
  footer svg {
    fill: white; /* Cambia el color de relleno de los iconos (para iconos SVG) */
  }
  